.products-container {
  display: grid;
  place-items: center;
  padding: 2em 1em;
  width: 90%;
  margin: 0 auto;

  .loader {
    margin: 4em 0;
    width: 5em;
    height: 5em;
    border-width: 0.5em;
  }
}
