.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
  width: 100%;
  align-items: center;
  justify-content: center;
  grid-gap: 1.4em 1.2em;
  margin-bottom: 0.8em;
}
