.products-list {
  grid-column: 2/3;
  grid-row: 2/3;

  &-content {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1.4em 1.2em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 320px));
    align-items: center;
    justify-content: center;
    margin-bottom: 1.2em;
  }
}
