@import "../../assets/styles/variables";

.navigation {
  border-bottom: 1px solid gray;
  height: 80px;

  &-content {
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.3);
    padding: 0.4em 1.2em;
    display: flex;
    justify-content: space-between;

    &-left {
      display: flex;
      align-items: center;

      .app-logo {
        width: 150px;
        height: 70px;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .app-search {
        position: relative;
        padding-left: 1.8em;

        label {
          position: absolute;
          width: 22px;
          height: 22px;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          display: grid;
          place-items: center;
          svg {
            fill: #444;
          }
        }

        input {
          border-color: transparent;
          outline: none;
          font: inherit;
          padding: 0.4em 0.6em;
          font-size: 18px;

          &::placeholder {
            color: #777;
          }
          &:focus {
            border-color: $brd-color;
          }
        }
      }
    }
    &-right {
      display: flex;
      align-items: center;

      a {
        text-decoration: none;
      }
      .btn-outline {
        color: #444;
      }
      .btn {
        &:not(:last-child) {
          margin-right: 0.7em;
        }
      }
      .btn-shopping {
        width: 32px;
        height: 32px;
        cursor: pointer;
        font-size: 19px;
        display: grid;
        place-items: center;
        // background-color: green;
        padding: 0.3em 0.4em;
        box-sizing: content-box;
        svg {
          width: 100%;
          height: 100%;
        }
        &:hover {
          background-color: lighten(green, 65%);
          color: green;
        }
      }
    }

    .nav-item {
      margin-right: 0.8em;
      padding-right: 0.8em;
      border-right: $brd-right;
    }

    .user-content {
      display: flex;
      place-items: center;

      .arrow-btn {
        background-color: transparent;
        margin: 0;
        padding: 0;
        svg {
          width: 14px;
          height: 14px;
        }
      }
      .arrow-btn-active {
        transform: rotate(180deg);
        transition: all 0.14s linear;
      }

      &-info {
        border: 1px solid #ccc;
        padding: 0.6em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        display: flex;
        align-content: center;
        position: relative;

        .user-icon {
          margin-right: 0.5em;
          svg {
            width: 18px;
            height: 18px;
          }
        }
        &:hover {
          border-color: #aaa;
        }
        .user-details {
          position: absolute;
          bottom: 0;
          left: 0;
          transform: translateY(100%);
          border: 1px solid #ccc;
          width: 100%;
          background-color: #eee;
          font-size: 18px;
        }
      }
    }
  }
}
