.home {
  padding: 2em;
  background-color: #f7f7f7;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 80px auto;

  .loader {
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
    margin: 3em 0;
    border-width: 0.5em;
    width: 5em;
    height: 5em;
  }
}
