@import "../../../assets/styles/variables";

.products-header {
  border: 1px solid #ddd;
  margin-bottom: 1.4em;
  padding: 0.6em 0.8em;
  box-shadow: $box-shadow;
}

.products-filter {
  &-icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    color: $text-color;

    &:hover {
      color: $dark-text-color;
      svg {
        fill: $dark-text-color;
      }
    }
    svg {
      fill: $text-color;
      width: 30px;
      height: 30px;
      margin-right: 8px;
    }
  }
}
