.main {
  background-color: #f9f9f9;
  height: calc(100vh - 80px);
  padding-top: 2em;

  &-container {
    display: grid;
    grid-template-columns: 28% 70%;
    height: 100%;
    width: 70%;
    margin: 0 auto;
  }
}
